<!DOCTYPE html>
<html>
  <head>
    <title>はてなブログ芝生</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <% if @is_dev %>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <% else %>
      <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js"></script>
    <% end %>
<style>
body {
  background-color: #2e8b57;
}
</style>
  </head>
  <body>
    <div class="container" style="max-width:800px;margin-top:100px;">
      <div class="empty">
        <div class="empty-icon">
          <h1>はてなブログ芝生</h1>
        </div>
        <p>はてなブログの投稿数で<a href="https://qiita.com/sta/items/2c1f0252a6a9ce5e2087" target="_blank">Githubのcontributionグラフ</a>を生成します。色が濃いほど活発に活動していることになります。</p>
        <div class="empty-action">
          <div class="input-group">
            <input type="text" class="form-input" v-model="blog_url">
            <button class="btn btn-primary input-group-btn" v-on:click="generate">生成</button>
          </div>
        </div>
        <br>
        <div class="empty-action">
          <img v-bind:src="generated_image_url" />
        </div>
        <br>
          <input type="text" class="form-input" :value="image_tag" />
          <div class="text-left">
            画像はブログ等に自由に貼れます。
          </div>
      </div>
    </div>
  </body>
</html>


<script>
var app = new Vue({
  el: '.container',
  data: {
    blog_url: "http://thr3a.hatenablog.com/",
    generated_image_url: ""
  },
  computed: {
    image_url: function() {
      return "http://hatena.turai.work/grass?url="+this.blog_url
    },
    image_tag: function() {
      return '<img src="'+this.image_url+'" />';
    }
  },
  methods: {
    generate: function(e) {
      this.generated_image_url = this.image_url
    }
  }
});
app.generate();
</script>
